<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>65601322682-hjc0uh4m5inuc1hkn2cb51atgh4qlaeo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.65601322682-hjc0uh4m5inuc1hkn2cb51atgh4qlaeo</string>
	<key>API_KEY</key>
	<string>AIzaSyAEV3ear5wwIhiG2ce5Wgr6h0bZG6UKimo</string>
	<key>GCM_SENDER_ID</key>
	<string>65601322682</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.minikasi</string>
	<key>PROJECT_ID</key>
	<string>minikasi-ea0ca</string>
	<key>STORAGE_BUCKET</key>
	<string>minikasi-ea0ca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:65601322682:ios:04ed4391c9274403c6cc83</string>
</dict>
</plist>